# MongoDB Atlas connection string
MONGODB_URI=mongodb+srv://<username>:<password>@<cluster>/?appName=devrel-github-tanstack-tvshow-tracker

# TMDB Read Access Token
TMDB_READ_ACCESS_TOKEN= "Add access token here"
